<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="WorkSiteLabs.WSL.BaseTest"/>
     <class name="WorkSiteLabs.WSL.BookAppointmentTest"/>
     <class name="WorkSiteLabs.WSL.Two_Minor_Two_Symptoms_BookAppointmentTest"/>
     <class name="WorkSiteLabs.WSL.Nominor_Nosymptoms_BookappointmentTest"/>
     <class name="WorkSiteLabs.WSL.Admin_Keymetrics_Test"/>
     <class name="WorkSiteLabs.WSL.Day_Wise_Appointment_Test"/>
     <class name="WorkSiteLabs.WSL.Checkin_AdminTest"/>
     <class name="WorkSiteLabs.WSL.AdminDashboardTest"/>
     <class name="WorkSiteLabs.WSL.Invalid_Phone_No_BookAppointment_Test"/>
      <class name="WorkSiteLabs.WSL.Admin_LoginPage_ValidationTest"/>
      <class name="WorkSiteLabs.WSL.Resuts_Slotoccupancy_AdminTest"/>
      <class name="WorkSiteLabs.WSL.Manage_AdminTest"/>
      <class name="WorkSiteLabs.WSL.Invalid_Email_ErrorMessag_Test"/>
      <class name="WorkSiteLabs.WSL.Report_Admin_Test"/>
      <class name="Multitenancy.myProfilePageDataAndEditeMinorDataTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
